<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="InterfacesLibrary.ICalculator, InterfacesLibrary"
                mapTo="CalculatorLibrary.Calculator,CalculatorLibrary"/>
          <type type="InterfacesLibrary.ICalculatorReplLoop, InterfacesLibrary"
                mapTo="CalculatorLibrary.CalculatorReplLoop,CalculatorLibrary"/>
          <type type="InterfacesLibrary.IConsoleImputService, InterfacesLibrary"
                mapTo="InputOutputLibrary.ConsoleImputService,InputOutputLibrary"/>
          <type type="InterfacesLibrary.IConsoleOutputService, InterfacesLibrary"
                mapTo="InputOutputLibrary.ConsoleOutputService,InputOutputLibrary"/>
          <type type="InterfacesLibrary.IInputParserService, InterfacesLibrary"
                mapTo="CalculatorCommandParserLibrary.InputParserService,CalculatorCommandParserLibrary"/>
        </types>
      </container>
    </containers>
  </unity>
</configuration>